{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block cssfiles %}
 <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
{% endblock %}
<br><br>
<div class="container">
  <div class="registration-box">
     <form method="post">
    {% csrf_token %}
    <div class="mb-3">
    <label  class="form-label">username</label>
    <input type="text" class="form-control" name="u" placeholder="Enter username">
  </div>

  <div class="mb-3">
    <label  class="form-label">email</label>
    <input type="email" class="form-control" name="e" placeholder="Enter email">
  </div>
  <div class="mb-3">
    <label  class="form-label">Password</label>
    <input type="password" class="form-control" name="p" placeholder="Enter Password">
  </div>
  <div class="mb-3">
    <label  class="form-label">Confirm Password</label>
    <input type="password" class="form-control" name="cp" placeholder="Enter Confirmpassword">
  </div>
  <div class="mb-3 ">

    <input type="submit"  class="form-control button" style="background-color:blue">
  </div>

  </form>
</div>
  </div>











































































































































































































































































































































{% endblock %}